# API Keys necesarias
GOOGLE_API_KEY=tu_api_key_de_google_aqui
# Opcionalmente, puedes agregar otras claves de API para otros proveedores o servicios que quieras usar en tu agente. Por ejemplo:
# TAVILY_API_KEY=tu_api_key_de_tavily_aqui
# LANGSMITH_PROJECT=nombre_de_tu_proyecto_en_langsmith
# LANGSMITH_API_KEY=tu_api_key_de_langsmith_aqui    