langgraph>=1.0.0
langchain>=0.2.14
langchain-core
langchain-google-genai>=2.0.0
langchain-tavily>=0.1
fastapi
uvicorn
python-dotenv>=1.0.1
gunicorn
langgraph-checkpoint-postgres 
psycopg[binary,pool]
langchain-community
requests